[submodule "thirdparty/utf8"]
	path = thirdparty/utf8
	url = https://github.com/nemtrif/utfcpp.git
[submodule "thirdparty/argparse"]
	path = thirdparty/argparse
	url = https://github.com/p-ranav/argparse.git
